/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background-color: #f4f6f9;
}


form {
  background: white;
  padding: 35px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

body:has(form) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #1e293b;
}



.layout {
  display: flex;
  min-height: 100vh;
}



.sidebar {
  width: 240px;
  background: linear-gradient(180deg, #1e293b, #0f172a);
  color: white;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h3 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
}

.sidebar a {
  display: block;
  color: #cbd5e1;
  text-decoration: none;
  padding: 10px 12px;
  margin: 6px 0;
  border-radius: 6px;
  transition: all 0.3s ease;
  font-size: 14px;
}

.sidebar a:hover {
  background-color: #334155;
  color: #ffffff;
  padding-left: 18px;
}



.navbar {
  background: linear-gradient(90deg, #1e293b, #0f172a);
  padding: 15px 25px;
  margin-bottom: 25px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar h3 {
  font-weight: 500;
  font-size: 18px;
}

.navbar button {
  background-color: #ef4444;
  padding: 8px 15px;
  border-radius: 6px;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #dc2626;
}



.content {
  flex: 1;
  padding: 30px;  
  margin-top: 70px;     
  
}



.card {
  background: white;
  padding: 22px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
}



.form-group {
  margin-bottom: 18px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  transition: border 0.2s ease;
}

input:focus,
select:focus {
  border-color: #1e293b;
  outline: none;
}


button {
  padding: 10px 16px;
  background-color: #1e293b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
}

button:hover {
  background-color: #0f172a;
  transform: translateY(-1px);
}


.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}
